---
import { Image } from "astro:assets";
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";

import akihabara from "@/assets/images/akihabara.avif";
import arashiyama from "@/assets/images/arashiyama.avif";
import citywalk1 from "@/assets/images/citywalk1.avif";
import citywalk2 from "@/assets/images/citywalk2.avif";
import citywalk3 from "@/assets/images/citywalk3.avif";
import fujiyoshida from "@/assets/images/fujiyoshida.avif";
import izu1 from "@/assets/images/izu1.avif";
import izu2 from "@/assets/images/izu2.avif";
import kyoto from "@/assets/images/kyoto.avif";
import shimokitazawa from "@/assets/images/shimokitazawa.avif";
import tokyo1 from "@/assets/images/tokyo1.avif";
import tokyo2 from "@/assets/images/tokyo2.avif";
---

<Layout title="photos | justin">
  <main class="container max-w-3xl px-4 py-8 md:py-16 flex flex-col">
    <a class="mb-4 hover:text-primary" href="/">&lt; home</a>
    <div class="grid grid-cols-2 gap-4">
      <Image
        src={arashiyama}
        alt="Arashiyama"
        class="rounded-lg"
        loading="lazy"
        widths={[480, 1080, 1440]}
        sizes="(max-width: 360px) 480px, (max-width: 720px) 1080px, 1440px"
      />
      <Image
        src={fujiyoshida}
        alt="Fujiyoshida"
        class="rounded-lg"
        loading="lazy"
        widths={[480, 1080, 1440]}
        sizes="(max-width: 360px) 480px, (max-width: 720px) 1080px, 1440px"
      />
      <Image
        src={izu1}
        alt="Izu"
        class="rounded-lg"
        loading="lazy"
        widths={[480, 1080, 1440]}
        sizes="(max-width: 360px) 480px, (max-width: 720px) 1080px, 1440px"
      />
      <Image
        src={shimokitazawa}
        alt="Shimokitazawa"
        class="rounded-lg"
        loading="lazy"
        widths={[480, 1080, 1440]}
        sizes="(max-width: 360px) 480px, (max-width: 720px) 1080px, 1440px"
      />
      <Image
        src={kyoto}
        alt="Kyoto"
        class="col-span-2 rounded-lg"
        loading="lazy"
        widths={[960, 2160, 2880]}
        sizes="(max-width: 360px) 960px, (max-width: 720px) 2160px, 2880px"
      />
      <Image
        src={tokyo1}
        alt="Tokyo"
        class="col-span-2 rounded-lg"
        loading="lazy"
        widths={[960, 2160, 2880]}
        sizes="(max-width: 360px) 960px, (max-width: 720px) 2160px, 2880px"
      />
      <Image
        src={tokyo2}
        alt="Tokyo"
        class="rounded-lg"
        loading="lazy"
        widths={[480, 1080, 1440]}
        sizes="(max-width: 360px) 480px, (max-width: 720px) 1080px, 1440px"
      />
      <Image src={izu2} alt="Izu" class="rounded-lg" loading="lazy" />
      <Image
        src={akihabara}
        alt="Akihabara"
        class="col-span-2 rounded-lg"
        loading="lazy"
        widths={[960, 2160, 2880]}
        sizes="(max-width: 360px) 960px, (max-width: 720px) 2160px, 2880px"
      />
      <Image
        src={citywalk2}
        alt="Shanghai"
        class="rounded-lg"
        loading="lazy"
        widths={[480, 1080, 1440]}
        sizes="(max-width: 360px) 480px, (max-width: 720px) 1080px, 1440px"
      />
      <Image
        src={citywalk3}
        alt="Shanghai"
        class="rounded-lg"
        loading="lazy"
        widths={[480, 1080, 1440]}
        sizes="(max-width: 360px) 480px, (max-width: 720px) 1080px, 1440px"
      />
      <Image
        src={citywalk1}
        alt="Shanghai"
        class="col-span-2 rounded-lg"
        loading="lazy"
        widths={[960, 2160, 2880]}
        sizes="(max-width: 360px) 960px, (max-width: 720px) 2160px, 2880px"
      />
    </div>
  </main>
</Layout>
